body{
    font-family: "Lato" ,sans-serif;
    font-family: "Open Sans", sans-serif;
  
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 200px;
}

.nav-titel{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}
.text-primary{
    color: #fd6e0a;
}
.btn-primary{
    border: 0;
    border-radius: 5px;
    background-color:#fd6e0a;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}

nav >ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}
/*header related styles*/

.header{
    background-color: #FFF8F3;

}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 500px;

}
.banner-greeting{

}